<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Detalle de ingreso egreso</h4>

        <table class="table">
          <thead>
            <tr>
              <th *ngFor="let colTitle of colData">{{colTitle.text}}</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let incomeEgressData of incomeEgress | orderIncomeEgress">
              <td *ngFor="let colType of colData">
                <div [ngClass]="{'type-income': incomeEgressData[colType.type] === 'ingreso',
									 'type-egress' :incomeEgressData[colType.type] === 'egreso'}">
                  <p *ngIf="colType.type === 'amount'"> {{incomeEgressData[colType.type] | currency}}</p>
                  <p *ngIf="colType.type !== 'amount'"> {{incomeEgressData[colType.type]}}</p>
                </div>
              </td>
              <td>
                <button type="button" class="delete-button" (click)="deleteIncomeEgress(incomeEgressData.uid)">
                  <i class="fa fa-minus-square" aria-hidden="true"></i>
                </button>
              </td>
            </tr>
          </tbody>

        </table>
      </div>
    </div>
  </div>
</div>